<app-home-banner></app-home-banner>
<app-design-dev></app-design-dev>
<app-modern-technology></app-modern-technology>
<app-seven-step></app-seven-step>
<app-awe-pro></app-awe-pro>
<app-partner></app-partner>
<app-help-you></app-help-you>